body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    overflow-x: hidden;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    width: 100%;
    background-color: #4d4c4c;
    justify-content: center;
    opacity: 95%;
}


.socials-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100px;
}

.header-container {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    height: 50px;
    width:auto;
    position: sticky;
    top: 0;
    background-color: #ffd600;
    align-items: center;
}

.navbar-container {
    width: 100%;
    height:50px;
    grid-column: 5/8;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    color:black;
    
}

.navbar-container span {
    justify-self:center;
    cursor: pointer;
    font-weight: 00;
}

.logo-container {
    grid-column: 1/2;
    justify-self: center;
    padding: 5px;
    color: #4d4c4c;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    grid-column-gap: 10px;
}

.logo {
    font-weight: 200;
    font-size: 17px;
    justify-self: center;
    align-self: center;
}

.logo span {
    font-weight: 300;
}

.main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: #FFFFFF;
    width: auto;      
    height: 2000px;
    grid-column-gap: 75px;
    padding-top: 50px;
}

#svg {
    height: 20px;
    width: auto;
    justify-self: end;
    margin-left: 30px;
    transition: transform 0.3s ease;
    opacity: 80%;
}

.footer-container img {
    align-self:center;
    height: 35px;
    opacity: 85%;
}

.hero-container {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.hero-container h1 {
   font-size: 75px;
   text-align: left;
   margin-left: 150px;
   margin-top: 150px;
   margin-bottom: 0px; 
   letter-spacing: 5px;
   font-weight: 400;
   grid-column: 1/3;
   grid-row: 1/2;
   justify-self: left;
}

.hero-container h3 {
    font-size: 25px;
    text-align: left;
    padding-left: 305px;
    margin: 0 0;
    font-weight: 200;
    grid-row: 2/3;
      grid-column: 1/2;
}

#js-logo {
    height: 100px;
    width: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: left;
    align-self: flex-end;
    margin-left: 40px;
    margin-bottom: 7px;
}

.divider {
    width: 1000px;
    border-style: solid;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    grid-column: 1/3;
    justify-self: center;
    grid-row: 2/3;
}

.about {
    grid-row: 2/3;
    grid-column: 1/2;
}

.about p {
    margin-left: 50px;
    margin-top: 150px;
}



.action-button {
  background-color: transparent;
  display: inline-block;
  padding: 10px 15px;
  color:black;
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: flex-start;
  margin-top: 65px;
  margin-left: 34px;
  transition: all 0.3s;
  border-radius: 2px;
  
}

.action-button:hover {
    background-color: black;
    color: #FFFFFF;
}